other/flow.json
[
    {
        "id": "a3daeb360c7cfaaf",
        "type": "tab",
        "label": "Projet",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4a2cfb0a852da3ab",
        "type": "aedes broker",
        "z": "a3daeb360c7cfaaf",
        "name": "",
        "mqtt_port": "1883",
        "mqtt_ws_bind": "port",
        "mqtt_ws_port": "",
        "mqtt_ws_path": "",
        "cert": "",
        "key": "",
        "certname": "",
        "keyname": "",
        "dburl": "",
        "usetls": false,
        "x": 150,
        "y": 60,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "1f64569f868e5f80",
        "type": "http in",
        "z": "a3daeb360c7cfaaf",
        "name": "",
        "url": "led",
        "method": "put",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 220,
        "wires": [
            [
                "6848a06863efcc3e",
                "d5e8f81790eb604e"
            ]
        ]
    },
    {
        "id": "6848a06863efcc3e",
        "type": "mqtt out",
        "z": "a3daeb360c7cfaaf",
        "name": "Publisher led",
        "topic": "put_led",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e29beeec6e03d46c",
        "x": 470,
        "y": 280,
        "wires": []
    },
    {
        "id": "d5e8f81790eb604e",
        "type": "template",
        "z": "a3daeb360c7cfaaf",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "This is the payload: {{payload}} !",
        "output": "str",
        "x": 460,
        "y": 220,
        "wires": [
            [
                "282732127053d189"
            ]
        ]
    },
    {
        "id": "282732127053d189",
        "type": "http response",
        "z": "a3daeb360c7cfaaf",
        "name": "Response",
        "statusCode": "200",
        "headers": {},
        "x": 720,
        "y": 220,
        "wires": []
    },
    {
        "id": "936e5e5b9a28c632",
        "type": "http in",
        "z": "a3daeb360c7cfaaf",
        "name": "",
        "url": "data",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 640,
        "wires": [
            [
                "a3a796f8844affa2",
                "2e9399ea44700296"
            ]
        ]
    },
    {
        "id": "a3a796f8844affa2",
        "type": "mqtt out",
        "z": "a3daeb360c7cfaaf",
        "name": "Publisher data",
        "topic": "ask_data",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e29beeec6e03d46c",
        "x": 380,
        "y": 580,
        "wires": []
    },
    {
        "id": "3c0226db74df58fb",
        "type": "change",
        "z": "a3daeb360c7cfaaf",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "data",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 640,
        "wires": [
            [
                "d2b0120c14a5a1a3"
            ]
        ]
    },
    {
        "id": "d2b0120c14a5a1a3",
        "type": "http response",
        "z": "a3daeb360c7cfaaf",
        "name": "Response",
        "statusCode": "200",
        "headers": {},
        "x": 700,
        "y": 640,
        "wires": []
    },
    {
        "id": "2e9399ea44700296",
        "type": "delay",
        "z": "a3daeb360c7cfaaf",
        "name": "",
        "pauseType": "delay",
        "timeout": "0.5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 370,
        "y": 640,
        "wires": [
            [
                "3c0226db74df58fb"
            ]
        ]
    },
    {
        "id": "92f2d0a7d51f3ba4",
        "type": "http in",
        "z": "a3daeb360c7cfaaf",
        "name": "",
        "url": "led",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 400,
        "wires": [
            [
                "47123d1977645e82",
                "e7d80ef6f8b762f6"
            ]
        ]
    },
    {
        "id": "47123d1977645e82",
        "type": "mqtt out",
        "z": "a3daeb360c7cfaaf",
        "name": "Publisher led",
        "topic": "ask_led",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e29beeec6e03d46c",
        "x": 370,
        "y": 340,
        "wires": []
    },
    {
        "id": "96a213729174d0d3",
        "type": "mqtt in",
        "z": "a3daeb360c7cfaaf",
        "name": "",
        "topic": "return_led",
        "qos": "2",
        "datatype": "auto",
        "broker": "e29beeec6e03d46c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 480,
        "wires": [
            [
                "d07413e6a579ab76"
            ]
        ]
    },
    {
        "id": "de0915f0ccbc3bd2",
        "type": "change",
        "z": "a3daeb360c7cfaaf",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "led",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 400,
        "wires": [
            [
                "d7ed86c4fa6d8056"
            ]
        ]
    },
    {
        "id": "d7ed86c4fa6d8056",
        "type": "http response",
        "z": "a3daeb360c7cfaaf",
        "name": "Response",
        "statusCode": "200",
        "headers": {},
        "x": 700,
        "y": 400,
        "wires": []
    },
    {
        "id": "e7d80ef6f8b762f6",
        "type": "delay",
        "z": "a3daeb360c7cfaaf",
        "name": "",
        "pauseType": "delay",
        "timeout": "0.1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 370,
        "y": 400,
        "wires": [
            [
                "de0915f0ccbc3bd2"
            ]
        ]
    },
    {
        "id": "d07413e6a579ab76",
        "type": "change",
        "z": "a3daeb360c7cfaaf",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "led",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "b60a1da2fb80cb39",
        "type": "comment",
        "z": "a3daeb360c7cfaaf",
        "name": "GET Data",
        "info": "Get Data",
        "x": 120,
        "y": 580,
        "wires": []
    },
    {
        "id": "4ec7372df8a3c79d",
        "type": "comment",
        "z": "a3daeb360c7cfaaf",
        "name": "GET LED",
        "info": "Get Data",
        "x": 120,
        "y": 340,
        "wires": []
    },
    {
        "id": "e7513552388d3cec",
        "type": "comment",
        "z": "a3daeb360c7cfaaf",
        "name": "PUT LED",
        "info": "Get Data",
        "x": 120,
        "y": 160,
        "wires": []
    },
    {
        "id": "8b02b70c5c1dbfc7",
        "type": "mqtt in",
        "z": "a3daeb360c7cfaaf",
        "name": "",
        "topic": "return_data",
        "qos": "2",
        "datatype": "auto",
        "broker": "e29beeec6e03d46c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 700,
        "wires": [
            [
                "9d86079b4debf2a9"
            ]
        ]
    },
    {
        "id": "9d86079b4debf2a9",
        "type": "change",
        "z": "a3daeb360c7cfaaf",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "data",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "e29beeec6e03d46c",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.1.24",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    }
]
